*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    overflow: hidden;
}



.navbar{
    font-size: 3em;
    margin-bottom: 20px;
}
.navbar .logo{
    text-align: center;
}
.w-80{
    width: 80%;
}
.f-2{
    font-size: 2em;
    margin: 10px;
}
.tl-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tl-container div{
    width: 100%;
}
.tl-container .leader-board{
    background: blue;
    color: aliceblue;
    order: 2;
}
.tl-container .task{
    background: yellow;
    order: 1;
}
.tl-container .leader-board .ld-container{
    height: 350px;
    width: 350px;
    color: #000000;
    background: #ffffff;
    margin: 20px auto;
    position: relative;
    margin-bottom: 50px;
}
.tl-container .leader-board .ld-container p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-25%);
}

.tasks-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tasks-list a{
    font-size: 4em;
    margin: 20px;
    color: blue;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
}




.frm{
    margin: 100px 0px;
}

.frm-1 h2{
    text-align: center;
}
.frm-1 button{
    font-size: 2em;
    width: 80%;
    margin: 10px 60px;
}


@media(min-width: 768px){
    .tl-container{
        flex-direction: row;
    }
    .tl-container .leader-board{
        order: 1;
        flex: 3;
    }
    .tl-container .task{
        order: 2;
        flex: 1;
    }
    .tl-container .leader-board .ld-container{
        width: 1000px;
        height: 650px;
    }
    .tl-container .leader-board .ld-container p{
        transform: translate(-10%);
    }
    .task{
        height: 770px;
    }
}